*{
    padding: 0;
    margin: 0;
}
    /* Top card ------------------------------->*/
html{
    scroll-behavior: smooth;
}
    .top-card{
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-card span{
    color: yellow;
}
    /* Navbar ------------------------------>*/
.checkcontainer{
    margin-top: 10px;
    padding: 10px;
}
.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.navbar-options{
    display: flex;
    align-items: center;
    color: inherit;
}
.navbar-options p:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.navbar-options p{
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}
.navbar-options a{
    text-decoration: none;
}
.navbar-options a:visited{
    color: inherit;
}
    /* checkbox Filters */
.divide-section{
    display: flex;
}
.filter-section{
    flex-basis: 25%;
    position: relative;
    font-size: 2vw;
}
.product-section{
    flex-basis: 75%;
    position: relative;
}
.vertical-line {
    border: none;
    border-left: 3px solid #1D232C; 
    height: 100%;
    margin: 0 20px; 
    position: absolute;
    top: 0px;
    right: 0px
  }
.filter-section-price,.filter-section-arrivals,.filter-section-occasion,.filter-section-colors{
    margin-top: 3vw;
    margin-bottom: 10px;  
}
.product-section{
    padding: 10px;
}
/* The form container handles the centering */
.navbar-search {
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative;      
    width: 100%;            
}
.navbar-search input {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px
}
.navbar-search {
    position: relative;
}

.navbar-search i {
    position: absolute;
    right: 12%; 
    cursor: pointer;
}
.products{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:1vw;
}
.product-container {
    margin-bottom: 20px;
}
.product-container img{
    height: 300px;
    width: 300px;
    object-fit: fill;
    border-radius: 20px;
}



